{% extends "base.html" %}
{% block body %}

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Caption It!</h1>
                    <!--<p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>-->
                </div>
                <div class="col-6 col-sm align-self-center">
                    <img src="https://user-images.githubusercontent.com/26179770/106359099-693e3380-6336-11eb-8069-9e36f25de5ca.png" class="img-fluid">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row row-content">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">About Us</li>

            </ol>
            <div class="col-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12 col-sm-4 col-md-6">
                <h2>About Project</h2>
                <p>You saw an image and your brain can easily tell what the image is about, but can a computer tell what the image is representing? Computer vision researchers worked on this a lot and they considered it impossible until now! With the advancement in Deep learning techniques, availability of huge datasets and computer power, we can build models that can generate captions for an image.

This is what we are going to implement in this Python based project where we will use deep learning techniques of Convolutional Neural Networks and a type of Recurrent Neural Network (LSTM) together.</p>
                <p>Image caption generator is a task that involves computer vision and natural language processing concepts to recognize the context of an image and describe them in a natural language like English. </p>
                <p>The objective of our project is to learn the concepts of a CNN and LSTM model and build a working model of Image caption generator by implementing CNN with LSTM.</p>

            </div>
            <div class="col-sm">
                <div class="card">
                    <h3 class="card-header bg-primary text-white">Facts At A Glance</h3>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">Total Image Dataset</dt>
                            <dd class="col-6">8,092</dd>
                            <dt class="col-6">Training Dataset</dt>
                            <dd class="col-6">6,000</dd>
                            <dt class="col-6">Test Dataset</dt>
                            <dd class="col-6">2,000</dd>
                            <dt class="col-6">Total Params</dt>
                            <dd class="col-6">5,002,649</dd>
                            <dt class="col-6">Trainable Params</dt>
                            <dd class="col-6">5,002,649</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
     <!--       <div class="col-12">
                <div class="card card-body bg-light">
                    <blockquote class="blockquote">
                        <p class="mb-0">You better cut the pizza in four pieces because
                            I'm not hungry enough to eat six.</p>
                        <footer class="blockquote-footer">Yogi Berra,
                            <cite title="Source Title">The Wit and Wisdom of Yogi Berra,
                            P. Pepe, Diversion Books, 2014</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>-->

                 <!--Tabbed Navigation-->
                   <!-- <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#peter"
                        role="tab" data-toggle="tab">Peter Pan, CEO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#danny" role="tab"
                        data-toggle="tab">Danny Witherspoon, CFO</a>
                    </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#agumbe"role="tab"
                        data-toggle="tab">Agumbe Tang, CTO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#alberto" role="tab"
                        data-toggle="tab">Alberto Somayya, Exec. Chef</a>
                    </li>
                </ul>-->
               <!--<div id="accordion">-->
                <div class="row row-content">
                    <h2>Team Members</h2><br>
                    <div class="card col-12">
                        <div class="card-header" role="tab" id="dannyhead">
                            <h3 class="mb-0"><a data-toggle="collapse" data-target="#danny">Sonu Kumar Gautam <small>Developer</small></a></h3>
                        </div>
                        <div class="collapse" id="danny" data-parent="#accordion" role="tabpanel">
                            <div class="card-body">
                                <img src="static/sonu.jpg" width="150px" class="d-flex mr-3 align-self-center img-thumbnail" alt="sonu">
                                <!--<p class="d-none d-sm-block"><em>bdfsfhjesebfhjsfbshjfbsehjfsebfhsfbfshbrshbrsjrsfbrj</em></p>-->
                            </div>
                        </div>
                    </div>
                    <div class="card col-12">
                        <div class="card-header" role="tab" id="peterhead">
                            <h3 class="mb-0"> <a data-toggle="collapse" data-target="#peter"> Snehal Hukkeri <small>Developer</small></a></h3>
                        </div>
                        <div class="collapse show" data-parent="#accordion" id="peter" role="tabpanel">
                            <div class="card-body">
                                <!--<p class="d-none d-sm-block"><em>efefrfrrrrrrrrvtegerfrfwefregttgrwfrgtgrdgrg</em></p>-->
                            </div>
                        </div>
                    </div>
            </div>
                   <!-- <div class="card">
                        <div class="card-header" role="tab" id="agumbehead">
                            <h3 class="mb-0"><a data-toggle="collapse" data-target="#agumbe"> Agumbe Tang <small>Chief Taste Officer</small></a></h3>
                        </div>
                        <div class="collapse" role="tabpanel" data-parent="#accordion" id="agumbe">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Blessed with the most discerning gustatory sense, Agumbe, our CTO, personally ensures that every dish that we serve meets his exacting tastes. Our chefs dread the tongue lashing that ensues if their dish does not meet his exacting standards. He lives by his motto, <em>You click only if you survive my lick.</em></p>
                            </div>
                        </div>
                    </div>
                  <div class="card">
                        <div class="card-header" role="tab" id="albertohead">
                            <h3 class="mb-0"><a data-toggle="collapse" data-target="#alberto"> Sonu Gautam <small>Executive Chef</small></a></h3>
                        </div>
                        <div class="collapse" id="alberto" role="tabpanel" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. He says, <em>Put together the cuisines from the two craziest cultures, and you get a winning hit! Amma Mia!</em></p>
                            </div>
                        </div>
                    </div>-->
                    

     <!--  <div class="row row-content">
            <div class="col-12 col-sm-9">
                <h2>Facts &amp; Figures</h2>
                 <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>&nbsp;</th>
                                <th>2013</th>
                                <th>2014</th>
                                <th>2015</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Employees</th>
                                <td>15</td>
                                <td>30</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <th>Guests Served</th>
                                <td>15000</td>
                                <td>45000</td>
                                <td>100,000</td>
                            </tr>
                            <tr>
                                <th>Special Events</th>
                                <td>3</td>
                                <td>20</td>
                                <td>45</td>
                            </tr>
                            <tr>
                                <th>Annual Turnover</th>
                                <td>$251,325</td>
                                <td>$1,250,375</td>
                                <td>~$3,000,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
            <div class="col-12 col-sm-3">
                
            </div>  
       </div>-->
    </div>
   {% endblock %}
