<html>
<head>
<link rel="stylesheet" href="static/css/index.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">

{% extends "base.html" %}
{% block body %}
<body class="body">
<div class="header-container">
    <img src="https://user-images.githubusercontent.com/26179770/106359099-693e3380-6336-11eb-8069-9e36f25de5ca.png"
                class="head-image"
                alt="HeaderImage"
            />
    <h1 style="margin-top:20px;">Caption Generator</h1>
</div>
<form action="/" method="post" enctype="multipart/form-data">
  <div class="wrapper"><br><br>
    <input type="file" accept="image/*" name="file1" required><br><br><br>
    <br>
    <input type="submit" class="button-text" value="GENERATE CAPTION">
  </div>
</form>
  <div class="cards">
    {% if description %}
    <div class="card">
      <img src="{{img_path}}" alt="Image" class="card-image">
        <div class="card-content">
        <p><b><u> {{description}}</u></b></p>
        </div>
    </div>
    {% endif %}
  </div>
 {% endblock %}   
</body>
</html>
